@import 'bootstrap/dist/css/bootstrap.min.css';

.navbar{
    background-color: white !important;
}
.logo{
    height: 40px;
}
.search-bar{
    width: 300px;
    height: 40px;
    border: 1px;
    border-radius: 8px;
    border: solid 1px #F8F9FA;
    margin-left: 10px;
}
.search-bar input{
    background-color: #F8F9FA;
}
.search-bar input:hover{
    background-color: #F8F9FA;
}
.input-group-text{
    color: white;
    background-color: #8064A2;
    padding: 2px 10px 5px 10px;
    cursor: pointer;
}
.navbar-tools{
    display: flex;
    align-items: center;
    width: 600px;
}
#dropdown-basic{
    background-color: white;
    color: black;
    border: 0;
    margin-right: 15px;
}
.explore-icon{
    color: #8064A2;
}
.icon-margin{
    margin-right: 20px !important;
}
.signin-btn{
    background-color: white;
    color: #8064A2;
    border: #8064A2 1px solid;
    width: 100px;
    font-size: 14px;
    line-height: 16px;
}
.navbar-toggler{
    border: 0;
}